.App {
  background-color: #3c3e42;
}

.navLink {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.2);
}

.navLink:hover {
  background-color: #3d757b;
  color: turquoise;
  transition: 0.4s;
}

.active {
  background-color: darkcyan;
  color: turquoise;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CustomTab {
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  background-color: transparent;
  width: 100%;
  line-height: 1.5;
  padding: 8px 12px;
  margin: 6px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.CustomTab:hover {
  background-color: cyan;
}

.CustomTab:focus {
  color: #fff;
  outline: 3px solid cyan;
}

.CustomTab.tabClasses.selected {
  background-color: #fff;
  color: cyan;
}

.CustomTab.buttonClasses.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.CustomTabPanel {
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
}
